.spinner{
    text-align:center;
}

.left{
    transform: rotateY(180deg)
}
body{
    display:flex;
    justify-content: space-around;
}

.anger{
    position:fixed;
    text-align:center;
    top:300px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    color:rgb(97, 255, 34);
    -webkit-animation: flash linear 6s infinite;
    animation: flash linear 6s infinite;
}

.anger2{
    position:fixed;
    text-align:center;
    top:380px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 150px;
    color:rgb(97, 255, 34);
    -webkit-animation: flash linear 1s infinite;
    animation: flash linear 1s infinite;
}
.outer{
    display:none;
}

.flashyLights {
    display: initial;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    -webkit-animation: flashBack linear 1.8s infinite;
    animation: flashBack linear 1.8s infinite;
  }
.music{
    position:fixed;
    top: 430px;
    left:640px;
    z-index: 2;
}

  @-webkit-keyframes flash {
    0%		{ color: #10c018;}
    25%		{ color: #1056c0;}
    50%		{ color: #ef0a1a;}
    75%		{ color: #254878;}
    100%	{ color: #04a1d5;}
  }
  @keyframes flash {
    0%		{ color: #10c018;}
    25%		{ color: #1056c0;}
    50%		{ color: #ef0a1a;}
    75%		{ color: #254878;}
    100%	{ color: #04a1d5;}
  }

  @-webkit-keyframes flashBack {
    0%		{ background-color: #10c01925;}
    25%		{ background-color: #1056c002;}
    50%		{ background-color: #ef0a192a;}
    75%		{ background-color: #2548780c;}
    100%	{ background-color: #04a1d51f;}
  }
  @keyframes flashBack {
    0%		{ background-color: #10c0192a;}
    25%		{ background-color: #1056c007;}
    50%		{ background-color: #ef0a1921;}
    75%		{ background-color: #25487807;}
    100%	{ background-color: #04a1d533;}
  }
  @media screen and (min-width: 1080px){
    .outer{
      display:flex;
      align-items: center;
  }
  }